<div class="jumbotron">
    <div class="container">
        <h1><%= @person.name %></h1>
        <h2>
            <p>
                <%= @person.address_1 %>
            </p>
            <p>
                <%= @person.address_2 %>
            </p>
            <p>
                <%= @person.county %>
            </p>
            <p>
                <%= @person.post_code %>
            </p>
        </h2>
    </div>
</div>